/* AuthForm.css */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

.form p {
    width: 100%; /* Full width */
    max-width: 300px; /* Maximum width */
    margin: 0 auto; /* Center horizontally */
}


.icon-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50; /* Ping pong green */
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.error-label {
    color: red;
}

button {
    background-color: #4CAF50; /* Ping pong green */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

.heading-text {
    color: black; /* Change heading text to black */
}

